{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Cadastro de novo usuário</h3>
</div>
    <div class="container">
        <div class="col-md-4">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-success" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
{% endblock %}
