{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<h1>Meus dados pessoais</h1>

<p class="lead">Atualização de perfil</p>

<hr>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <a class="btn btn-warning" href="{% url 'pages:listagem' %}">Home</a>
      </div>
      <h3 class="">Atualizar dados</h3>
      <div class="card card-body">
        <img class="img" src="{{request.user.perfil.img.url}}" alt="image" width="220" height="310">
        <p>Atualize seus dados: <strong>{{request.user}}</strong></p>
      </div>
    </div>
      <div class="h-100 p-5 bg-light border rounded-3">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <input class="btn btn-success" type="submit" value="ATUALIZAR">
            
        </form>
    </div>
    </div>
  </div>

{% endblock %}