{% extends 'base.html' %}
{% load static %}

<!-- {% load crispy_forms_tags %} -->


{% block content %}
<h1>Meus dados pessoais</h1>

<p class="lead">Atualização de dados do usuário</p>

<hr>
<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <a class="btn btn-warning" href="{% url 'pages:listagem' %}">Home</a></div>
      <h3 class="">Atualizar dados</h3>
      <img class="img" src="{{request.user.perfil.img.url}}" alt="image" width="250" height="300">
      <p>Seja bem-vindo(a) ao sitema: <strong>{{request.user}}</strong></p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input >
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" name="Update Information">
    </form>
    {% if object.image %}
    <img src="{{object.image.url}}">

    {% endif %}
  </div>

{% endblock %}