<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'pages:home' %}">SysEBD</a>
                <ul class="navbar-nav">

                    {% if request.user.is_authenticated %}

                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:listagem' %}">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadcrianca:listar-cadastros' %}">Alunos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadcrianca:form' %}">Cadastro de Aluno</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-blue" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <span id="username">{{request.user}}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{ url 'cadcrianca:atualizar-dados' %}">
                                <i classs="fa fa-sign-out" aria-hidden="true"></i>
                                Meus dados</a>

                                <a class="dropdown-item" href="{% url 'account_logout' %}">
                                <i classs="fa fa-sign-out" aria-hidden="true"></i>
                                Sair</a>
                            </div>
                        </li>
                        {% else %}
                        <div class="dropdown-divider"></div>
                                <a class="nav-link" href="{% url 'account_signup' %}">
                                <i classs="fa fa-sign-out" aria-hidden="true"></i>
                                Cadastro</a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

<footer>
    <div style="padding:100px;">
        <div class="containder mt-5">
            <div class="text text-center">
                <h5>&copy2021| Todos os direitos reservados, AD508 recanto</h5>
            </div>
            <div class="container">
                <section class="container">
<!--                    <button  type="text" class="btn-primary">Pastores sede e congregação</button>-->
                </section>
                <details>
                    <summary>Pastor Sede Local: Milton Serafin</summary>
                    <p>Formado em Teologia, escritor com mais de 50 volumes publicado
                        Pastor a mais de 22 anos.
                    </p>

                </details>
                <details>
                    <summary>Pastor Local: Anderson Rocha</summary>
                    <p>Formado em Teologia e escritor com mais de 50 obras publicadas</p>
                </details>
            </div>
        </div>
    </div>
</footer>
</html>
