{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css">


<div class="container mt-5 text text-center">
    <h1>ESCOLA BÍBLICA DOMINICAL AD-508</h1>
</div>
    <div class="container mt-4">
        <div class="col col-mt-4">
            <div class="container mt-4">
                <h5>CORDEIRINHOS DE CRISTO</h5>
            </div>
            <div class="offset-sm-1 col-sm-10 text-left text-muted mt-3">
              <p>Data atual {% now "d \d\e F \d\e Y, H:i\h" %}</p>
              <h6>AD508|cordeirinhos de Cristo: <a href="{{index}}" class="color-y">{{index}}</a></h6>
            </div>
        </div>
            <div>
                <img src="{ static 'images/cri.jpg' %}">
            </div>
            <div class="row">
                <div class="col col-md-4 mt-4">
                    <p>Atividade de ensino religioso desempenhada por voluntárias da congregação, que dispensam algumas 
                        horas do dia de folga para se dedicar ao ensino a um gropo de crianças denominda Cordeirnhos de Cristo.
                    </p>
                </div>
                <div class="col col-md-8 mt-4">
                    <p><b>Provérbios 22</b> 
                    Nas trilhas dos perversos existem espinhos e ciladas; quem deseja proteger a própria vida deve afastar-se deles. 
                    Ensina pois a criança no caminho em que deve andar, e mesmo quando for velho não se desviará dele! O rico domina 
                    sobre os pobres, o que toma emprestado se torna servo do que empresta...
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
