{% extends 'base.html' %}


{% block title %}Entrar{% endblock %}

{% block content %}
    <h2>Lista completa dos alunos cadastrados</h2>
<div class="table responsive">
   <table class="table table-striped">
       <tr>
           <th>Nome</th>
           <th>Phone</th>
           <th>Endereço</th>
           <th>Nascimento</th>
           <th>Pai</th>
           <th>Mãe</th>
           <th>Opções</th>
       </tr>
       {% for campo in object_list %}
        <tr>
            <td>{{campo.name}}</td>
            <td>{{campo.phone}}</td>
            <td>{{campo.address}}</td>
            <td>{{campo.data_nascimento}}</td>
            <td>{{campo.mae}}</td>
            <td>{{campo.pai}}</td>
                <td><a href="{% url 'cadcrianca:update-aluno' campo.pk %}" class="btn btn-warning btn-sm" type="text" title="Atualizar">A</a></td>
                <td><a href="{% url 'cadcrianca:delete-aluno' campo.pk %}" class="btn btn-danger btn-sm" type="text" title="Excluir">E</a></td>
        </tr>
       {% empty %}
       <tr>
           <td colspan="6">Não há campos registrados</td>
       </tr>
       {% endfor %}

   </table>
</div>

{% endblock %}