{% extends 'base.html' %}


{% block title %}Lista de alunos{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text text-center" style="padding: 30px;"><strong>LISTA DE ALUNOS</strong></h3>
</div>
    
<div class="table responsive">
   <table class="table table-striped">
       <tr>
           <th>Nome</th>
           <th>Contato</th>
           <!-- <th>Endereço</th> -->
           <th>Nascimento</th>
           <!-- <th>Pai</th> -->
           <th>Mãe</th>
           <th>Presença</th>
           <th>Opções</th>
       </tr>
       {% for campo in object_list %}
        <tr>
            <!-- <td>{{forloop.counter}}</td> -->
            <td><a href="{% url 'cadcrianca:lista-datails' %}">{{campo.name}}</a></td>
            <td>{{campo.phone}}</td>
            <!-- <td>{{campo.address}}</td> -->
            <td>{{campo.data_nascimento}}</td>
            <!-- <td>{{campo.pai}}</td> -->
            <td>{{campo.mae}}</td>
            <td><input type="checkbox" name="presenca"></td>
            <td>
                <a href="{% url 'cadcrianca:update-aluno' campo.pk %}" class="btn btn-warning btn-sm" type="text" title="Atualizar">A</a>
                <a href="{% url 'cadcrianca:delete-aluno' campo.pk %}" class="btn btn-danger btn-sm" type="text" title="Excluir">E</a>
            </td>
        </tr>
       {% empty %}
       <tr>
           <td colspan="6">Não há campos registrados</td>
       </tr>
       {% endfor %}

   </table>
   <div class="mt-3">
    <button class="btn btn-primary" type="submit">Registrar Presença</button>
   </div>
   
</div>

{% endblock %}