{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <img src="{{media.url}}">{{campo.name}}</img>
    <p ><h2 class="text-center">Page in construction!!!</h2></p>
    <p class="lead">Será apresentado dados do aluno</p>
    <div class="row">

       
<div class="h-100 p-5 bg-light border rounded-3">
    <!-- <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input class="btn btn-success" type="submit" value="Salvar">
    </form> -->
</div>

{% endblock %}